*{
    margin: 0;
    padding: 0;
} 
.logo img{
    height: 12vh;
    width: 34vw;
    margin-right: 35vw;
}
.masterhead{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.branch{
    font-size: 3.5rem;
    padding: 15px;
}
.gradient{
    background-image: linear-gradient(90deg,red,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.main{
    min-height: 100vh;
}
.head{
  font-size: 3rem;
  margin: 10px;
  background: linear-gradient(90deg,#ff0000,#ffff00,#ff00f3,#0033ff,#ff00c4,#ff0000);
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
   background-clip: text;
  animation: animate 10s linear infinite;
}
/* .content{
    background-color: black;
} */
.text{
  font-size: 2.8rem;
  text-align: justify;
  background: linear-gradient(90deg,orangered,orange);
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
   background-clip: text;
  animation: animate 10s linear infinite;
  margin: 10px;
}
.text a{
    cursor: auto;
}
.boldtext{
  font-size: 2.2rem;
  font-weight: bold;
  margin: 5px;
  background: linear-gradient(90deg,#ff0000,#ffff00,#ff00f3,#0033ff,#ff00c4,#ff0000);
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
   background-clip: text;
  animation: animate 10s linear infinite;
  margin-left: 10px;
}
.navbar{
    display: flex;
    justify-content: center;
}
.line{
  height: 7px;
  border-radius: 50px;
  background: white;
  box-shadow: 0 0 5px white;
  width: 35px;
  margin-top: 4px;
  transition: all 0.4s ease;
}

.hamburger{
    cursor: pointer;
    position: absolute;
    display: none;
}
ul li{
    list-style: none;
    padding: 5px 85px;
}
ul li a{
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
}
ul li a:hover{
    color: rgb(25, 25, 99);
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 180px;
    background: orange;
    box-shadow: 0 0 25px black;
}
.btn{
    padding: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.0rem;
    color: white;
    background: #12192c;
    border: 3px solid gold;
    box-shadow: 0 0 0 25px orangered;
    /* animation: blink 1.7s ease-in-out infinite alternate;*/
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover{
    background:rgb(2, 2, 101);
}
.navtext{
    opacity: 0;
    font-size: 0rem;
}
.footer{
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }
.mainnav{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #098CC4;
    z-index: 999;
}
.vs-class{
    display: none;
}
.sticky{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.4s ease-in-out;
}
.contact{
    background-color: #3e4c21;
    text-align: center;
    box-shadow: 0 0 25px #ffff00;
    margin-bottom: 3px;
}
.textcenter{
    color: whitesmoke;
    font-size: 2.5rem;
}
.textcenter a{
    text-decoration: none;
    font-family: kalnia;
    color: beige;
    cursor: auto;
}
.textcenter a:hover{
    text-decoration: revert;
}
.textcontact{
  color: white;
  box-shadow: 0 0 25px #000;
}
.margin{
    margin-bottom: -20px;
}
.marginb{
    margin-bottom: -20px;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
/* @keyframes blink{
    0%{
        opacity: 1;
        background-color: black;
    }
    50%{
        opacity: 0;
        background-color: #696909;
    }
    100%{
        opacity: 1;
        background-color: darkblue;
    }
} */
@media only screen and (max-width:1695px){
    .branch{
         font-size: 2.7rem;
    }
    ul li{
        padding: 5px 58px;
    }
    .text{
        font-size: 2.5rem;
    }
}
@media only screen and (max-width:1390px){
    ul li{
        padding: 5px 40px;
    }
    .text{
        font-size: 2.3rem;
    }
}
/* from 1190px hamburger on */
@media only screen and (max-width:1190px){
       .hamburger{
           display: block;
           top: 18px;
           right: 15px;
           position: absolute;
       }
       .cross{
        .line:nth-child(1) {
            transform: rotate(-45deg) translate(-8px, 6px);
            transition: all 0.4s ease;
        }
        
        .line:nth-child(2) {
            opacity: 0;
        }
        
        .line:nth-child(3) {
            transform: rotate(45deg) translate(-8.5px, -6px);
            transition: all 0.4s ease;
        }
    }
       ul li{
        margin-bottom: 8px;
    }
    .margintop{
        margin-top: 80px;
    }
    .navtext{
        opacity: 1;
        font-size: 3rem;
        text-align: center;
        color: white;
    }
       .logo img{
        height: 8vh;
        width: 32vw;
    }
       .mainnav{
        position: fixed;
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 300px;
        z-index: 999;
       }
       .navbar{
        flex-direction: column;
        text-align: center;
       }
       .v-class{
        opacity: 0;
        display: none;
       }
       .h-nav{
         height: 72px;
       }
       .branch{
        font-size: 2.18rem;
   }
      .btn{
        padding: 15px;
        font-size: 1.7rem;
      }
      .text{
        font-size: 2.2rem;
    }
}
@media only screen and (max-width:890px){
    .branch{
        font-size: 1.6rem;
    }
    .textcenter{
        font-size: 2.3rem;
    }
    .btn{
        box-shadow:  0 0 0 5px orangered;
    }
    .nohover{
        pointer-events: none;
    }
    .textvenue{
        font-size: 2.0rem;
    }
}
@media only screen and (max-width:800px){
    .logo img{
        height: 6vh;
        width: 35vw;
        margin-right: 30vw;
    }
    .btn{
        font-size: 1.5rem;
    }
    .text{
        font-size: 2.0rem;
    }
}
@media only screen and (max-width:660px){
    .logo img{
        margin-right: 23vw;
    }
    .btn{
        font-size: 1.25rem;
        border: 2px solid gold;
        box-shadow: 0 0 0 4px orangered;
    }
    .text{
        font-size: 1.80rem;
    }
    .textcenter{
        font-size: 1.8rem;
    }
}
@media only screen and (max-width:550px){
    .logo img{
        height: 6vh;
        margin-right: 20vw;
    }
    .footer{
        font-size: 1.0rem;
    }
    .navtext{
        font-size: 2.7rem;
    }
    .btn{
        font-size: 1.3rem;
        padding: 10px;
        margin: auto 25px;
    }
    .text{
        font-size: 1.6rem;
    }
    .textvenue{
        font-size: 1.55rem;
    }
}
@media only screen and (max-width:520px){
    .logo img{
        margin-right: 18vw;
    }
    .branch{
        font-size: 1.4rem;
    }
    .navtext{
        font-size: 2.5rem;
    }
    .btn{
        margin: auto 20px;
    }
    .text{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:490px){
    .branch{
        font-size: 1.25rem;
   }
   .logo img {
    margin-right: 12vw;
    height: 5vh;
    width: 43vw;
  }
  .text{
    margin: 20px;
  }
  .boldtext{
    margin: 20px;
  }
  .btn{
    font-size: 1.25rem;
    margin: auto 19px;
  }
  .navtext{
    font-size: 2.3rem;
  }
  .text{
    font-size: 1.38rem;
}
.textcenter{
    font-size: 1.65rem;
}
.textvenue{
    font-size: 1.35rem;
    font-family: kalnia;
}
.buttons{
    margin-top: 115px;
}
}
@media only screen and (max-width:430px){
    .branch{
        font-size: 1.18rem;
   }
   .boldtext{
        font-size: 1.7rem;
   }
   .head{
    font-size: 2.5rem;
   }
   .navtext{
    font-size: 2.1rem;
   }
   .btn{
    margin: auto 14px;
  }
  .textvenue{
    font-size: 1.25rem;
  }
}


@media only screen and (max-width:380px){
   .branch{
    font-size: 1.12rem;
   }
   .logo img{
    margin-right: -30vw;
    width: 50vw;
   }
   .text{
    font-size: 1.23rem;
   }
   .btn{
    font-size:0.95rem;
   }
   .navtext{
    font-size: 1.6rem;
    margin-right: 30px;
   }
   .textcenter{
    font-size: 1.48rem;
   }
   .btn{
    margin: auto 12px;
  }
  .textvenue{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width:350px){
    .textvenue{
        font-size: 1.1rem;
    }
}
@media only screen and (max-width:300px){
    .line{
        height: 6px;
        width: 30px;
    }
    .branch{
        font-size: 1.05rem;
    }
    .footer{
        font-size: 0.8rem;
    }
    .btn{
        margin: auto 8px;
        box-shadow: 0 0 0 2px orangered;
        border: 1px solid gold;
      }
      .text{
        font-size: 1.2rem;
      }
      .textvenue{
        font-size: 1.0rem;
      }
}